* {
	margin: 0;
	padding: 0;
}
button, a {
	cursor: pointer;
}
html {
	font-size: 16px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.flex {
	display: flex;
}
.super {
	width: 100vw;
	min-height: 100vh;
	background-color:#1F1A38;
}
nav {
	width: 100%;
	min-height: 50px;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	box-sizing: border-box;
	background-color:peachpuff;
	padding: 10px;
	color: #000;
}


button {
	padding: 5px;
	border-radius: 5px;
	border: none;
	min-width: 80px;
	font-size: 1rem;
	height: 40px;
}
.manage button {
	background: #1F1A38;
	color: #fff;
}
.controls {
	padding-top: 50px;
	width: min(600px , 90vw);
	height: auto;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	padding: 20px auto ;
	flex-direction: column;
	gap: 20px;
}
.section {
	width: 90%;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	gap:20px;
	background-color:rgba(255,255 , 255, 1);
	border-radius: 8px;
	font-weight: 800;
	font-size: 1rem;
	padding: 20px;
	box-sizing: border-box;
	flex-wrap: wrap;
	margin: 0 auto;
}
section button {
	color: peachpuff;
	color: #1F1A38;
}

.section h2 {
	font-size: 1.2rem;
	font-weight: 300;
}
.section ul {
	width: 100%;
	font-weight: 500;
	margin-left: 20px;
}
.section input {
	height: 40px;
	width: min(80%, 400px);
	padding: 5px 10px;
	font-size: 1rem;
	border: none;
	background:#1F1A38;
	color: #fff;
	border-radius: 8px;
}
.section span {
	font-weight: 300;
	font-family: monospace;
	color: #f00;
}
